[Desktop Entry]
Name=Trayscale
GenericName=Trayscale
Comment=A simple Tailscale utility
Version=0.0.1
Exec=trayscale
Icon=com.maveonair.trayscale
Type=Application
Terminal=false
Categories=Internet;
X-KDE-FormFactor=desktop;tablet;handset;
