[Desktop Entry]
Name=Trayscale
GenericName=Trayscale
Comment=A simple Tailscale utility
Exec=trayscale
Icon=com.maveonair.trayscale
Type=Application
Terminal=false
Categories=Network;
X-Flatpak=com.maveonair.trayscale
